{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block title_tag %}Elevated Web Systems | Free Consultation{% endblock title_tag %}
{% block meta_tags %}
  <meta content="Elevating business growth through web design and development, customized solutions, and social media marketing, management and advertising" name="description">
  <meta content="" name="keywords">
	<meta property="og:type" content="website" />
	<meta property="og:url" content="https://www.elevatedwebsystems.com/consultation-request" />
	<meta property="og:title" content="Elevated Web Systems" />
	<meta property="og:description" content="Elevating business growth through web design and development, customized solutions, and social media marketing, management and advertising" />
  <meta property="og:image" content="{% static 'img/elevatedws-og-img.png' %}" />
{% endblock meta_tags %}
{% block content %}
{{ form.media }}
  <main id="main">

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2></h2>
          <ol>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li>Free Consultation</li>
          </ol>
        </div>

      </div>
    </section><!-- Breadcrumbs Section -->

    <section class="portfolio-details">
      <div class="container">   
        <div class="col-lg-8 mx-auto">

        <div class="form-page">
          <h1 style="width:100%">Schedule Your Free Consultation!</h1>
          <form method="POST" class="mb-4">
            {% bootstrap_form_errors form %}
            {% bootstrap_form form %}
            {% csrf_token %}
            {% bootstrap_button "Submit" button_type="submit" %}
            </form>
        </div>
        </div>
      </div>
    </section>

  </main><!-- End #main -->

{% endblock content %}