{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block title_tag %}Elevated Web Systems | Free Consultation{% endblock title_tag %}
{% block meta_tags %}
  <meta content="Always FREE consultations to review your goals and come up with potential digital marketing strategies." name="description">
  <meta name="robots" content="noindex">
  <link rel="canonical" href="https://elevatedwebsystems.com/consultation-request" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="https://elevatedwebsystems.com/consultation-request" />
	<meta property="og:title" content="Elevated Web Systems | Free Consultation" />
	<meta property="og:description" content="Always FREE consultations to review your goals and come up with potential digital marketing strategies." />
  <meta property="og:image" content="{% static 'img/elevatedws-og-img.png' %}" />
{% endblock meta_tags %}
{% block content %}
{{ form.media }}
  <main id="main">

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2></h2>
          <ol>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li>Free Consultation</li>
          </ol>
        </div>

      </div>
    </section><!-- Breadcrumbs Section -->

    <section class="portfolio-details">
      <div class="container">   
        <div class="col-lg-8 mx-auto">

        <div class="form-page">
          <h1 style="width:100%">Schedule Your Free Consultation!</h1>
          <form method="POST" class="mb-4" id="consultationForm">
            {% bootstrap_form_errors form %}
            {% bootstrap_form form %}
            {% csrf_token %}
            <button id="consultationFormSubmit"
              class="btn btn-primary g-recaptcha"
              data-sitekey="6LdqwxUaAAAAACQ2hZJ54JuCOWOBAvxZuRHTd-mw" 
              data-callback='onSubmit' 
              data-action='submit'>Submit</button>
            </form>
        </div>
        </div>
      </div>
    </section>

  </main><!-- End #main -->

{% endblock content %}

{% block footscript %}
 <script src="https://www.google.com/recaptcha/api.js"></script>
  <script>
   function onSubmit(token) {
     document.getElementById("consultationForm").submit();
   }
 </script>
{% endblock footscript %}
