{% extends 'base.html' %}
{% load static %}
{% block title_tag %}Developing Web Systems & Solutions for Your Business{% endblock title_tag %}
{% block content %}
  <!-- ======= Intro Section ======= -->
  <section id="intro" class="clearfix">
    <div class="container" data-aos="fade-up">

      <div class="intro-img" data-aos="zoom-out" data-aos-delay="200">
        <img src="{% static 'assets/img/intro-img.svg' %}" alt="" class="img-fluid">
      </div>

      <div class="intro-info" data-aos="zoom-in" data-aos-delay="100">
        <h1 style="display:none;">Elevated Web Systems</h1>
        <h2>We provide<br><span>elevated</span> solutions<br>for your business!</h2>
        <div>
          <a href="{% url 'consultation_form' %}" class="btn-get-started scrollto">Free Consultation</a>
          <a href="#services" class="btn-services scrollto">Our Services</a>
        </div>
      </div>

    </div>
  </section><!-- End Intro Section -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about">
      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h3>About Us</h3>
          <p>Elevated Web Systems is an innovative digital partner for small and medium sized businesses looking to increase and elevate their web presence.</p>
        </header>

        <div class="row about-container">

          <div class="col-lg-6 content order-lg-1 order-2">
            <p>
              Specializing in custom designed and built web sites and web applications with high level attention to detail we work hand-in-hand with our clients from the start to the end of the project. 
            </p>

            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <div class="icon"><i class="fas fa-shopping-cart"></i></div>
              <h4 class="title"><a href="">E-Commerce</a></h4>
              <p class="description">Building a professional and <strong>trustworthy</strong> online store is crucial for online sales. We use state of the art security and payment processing systems to protect you and your customers</p>
            </div>

            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
              <div class="icon"><i class="far fa-calendar-check"></i></div>
              <h4 class="title"><a href="">Client Portals / Appointment Scheduling</a></h4>
              <p class="description">In today's digital world, 80% of clients would prefer to access their information and schedule appointments online rather than making a phone call.</p>
            </div>

            <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
              <div class="icon"><i class="fas fa-laptop-house"></i></div>
              <h4 class="title"><a href="">Remote Work Systems</a></h4>
              <p class="description">The core element of remote work is web based data access. Cloud based Web Systems create online workspaces for your employees to collaborate, communicate and stay productive from anywhere there is internet access.</p>
            </div>

          </div>

          <div class="col-lg-6 background order-lg-2" data-aos="zoom-in">
            <img src="{% static 'assets/img/about-img.svg' %}" class="img-fluid" alt="">
          </div>
        </div>

        <div class="row about-extra">
          <div class="col-lg-6" data-aos="fade-right">
            <img src="{% static 'assets/img/about-extra-1.svg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-5 pt-lg-0" data-aos="fade-left">
            <h4>Customer Service</h4>
            <p>
              The key to successful development and deployment is our relationship with our clients. When you hire Elevated Web Systems we believe we are entering into a partnership. Our team is always here to answer questions, provide guidance, and feedback but the ultimate decision is yours. It's your business after all!
            </p>
            <p>
                Throughout our process there can be multiple meetings, reviews, and updates. We will share progress with you along the way to make sure our design fits your vision. 
            </p>
          </div>
        </div>

        <div class="row about-extra">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left">
            <img src="{% static 'assets/img/about-extra-2.svg' %}" class="img-fluid" alt="">
          </div>

          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-right">
            <h4>Hosting and Maintence</h4>
            <p>
              The world of web systems is constantly changing and evolving. Once your product is launched, we are still here to support you! 
            </p>
            <p>
              While all of our products come with free support for bug fixes and critical issues, Elevated Web Systems offers both monthly and pay as you go support and maintence plans. It is our goal to keep your site functioning fast, smooth and secure! Routine security updates prevent your site being hijacked. 
            </p>
            <p>
              For e-commerce stores, product updates are common. Our platforms are built out so you have complete control of your offerings, however, we are happy to assist and/or maintain for you so you can focus on growing your business!
            </p>
          </div>

        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="section-bg">
      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h3>Services</h3>
          <p>Elevated Web Systems is here to help your business grow. From a simple website or website update to advanced web application build outs and e-commerce sites</p>
        </header>

        <div class="row justify-content-center">

          <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="100">
            <div class="box box-row-one">
              <div class="icon"><i class="ion-ios-color-wand-outline" style="color: #ff689b;"></i></div>
              <h4 class="title"><a href="">Web Design</a></h4>
              <p class="description">The core of every great and informative website is the design. We will work with you to design a website that excedes your vision.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="200">
            <div class="box box-row-one">
              <div class="icon"><i class="ion-android-desktop" style="color: #e9bf06;"></i></div>
              <h4 class="title"><a href="">Web Development</a></h4>
              <p class="description">Turning a web design into a functioning and powerful website is the art of Web Development.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="200">
            <div class="box box-row-one">
              <div class="icon"><i class="ion-paintbrush" style="color: #4680ff;"></i></div>
              <h4 class="title"><a href="">Graphic Design / Branding</a></h4>
              <p class="description">Logo creation, marketing kits, brochure designs, social media kits and more!</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="100">
            <div class="box box-row-two">
              <div class="icon"><i class="ion-ios-cloud-outline" style="color: #3fcdc7;"></i></div>
              <h4 class="title"><a href="">Cloud Database/CRM Solutions</a></h4>
              <p class="description">Cloud database and CRM systems allow multiple users to work together from anywhere they have access to the internet. Elevated WS specializes in custom built solutions that mirror and elevate your current work-flow</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="200">
            <div class="box box-row-two">
              <div class="icon"><i class="ion-social-instagram-outline" style="color:#41cf2e;"></i></div>
              <h4 class="title"><a href="">Social Media Marketing</a></h4>
              <p class="description">In the current world, social media is the most powerful tool for business growth. Let our experience help you generate more leads and sales.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="100">
            <div class="box box-row-two">
              <div class="icon"><i class="ion-ios-film-outline" style="color: #d6ff22;"></i></div>
              <h4 class="title"><a href="">Advanced Content Creation</a></h4>
              <p class="description">Great content is the core element for increased traffic. Our team of Cinematographers will shoot, edit and create amazing photos and videos.</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Why Us Section ======= -->
    <section id="why-us">
      <div class="container" data-aos="fade-up">
        <header class="section-header">
          <h3>Why choose us?</h3>
          <p>We understand that your website is the digital representation of your business.</p>
        </header>

        <div class="row row-eq-height justify-content-center">

          <div class="col-lg-4 mb-4">
            <div class="card" data-aos="zoom-in" data-aos-delay="100">
              <i class="far fa-gem"></i>
              <div class="card-body">
                <h5 class="card-title">Our Quality</h5>
                <p class="card-text">We stand by 100% of the products and services we deliver. Compromising quality is never an option and our core promise is to never "Nickel-and-Dime" you. Our clients are our top priorty!</p>
                {% comment %} <a href="#" class="readmore">Read more </a> {% endcomment %}
              </div>
            </div>
          </div>

          <div class="col-lg-4 mb-4">
            <div class="card" data-aos="zoom-in" data-aos-delay="200">
              <i class="far fa-handshake"></i>
              <div class="card-body">
                <h5 class="card-title">Our Approach</h5>
                <p class="card-text">To us, it's not just work - we take pride in every product we deliver. We take pride in building strong partnerships with our clients and watching their business excel beyond their goals.</p>
                {% comment %} <a href="#" class="readmore">Read more </a> {% endcomment %}
              </div>
            </div>
          </div>

          <div class="col-lg-4 mb-4">
            <div class="card" data-aos="zoom-in" data-aos-delay="300">
              <i class="fas fa-concierge-bell"></i>
              <div class="card-body">
                <h5 class="card-title">Our Service</h5>
                <p class="card-text">Every project comes with free support for bug fixes and critical issues. Keeping your site healthy and live is our #1 priority</p>
                {% comment %} <a href="#" class="readmore">Read more </a> {% endcomment %}
              </div>
            </div>
          </div>

        </div>

        <div class="row counters" data-aos="fade-up" data-aos-delay="100">

          <div class="col-lg-4 col-12 text-center">
            <span data-toggle="counter-up">3,650</span>
            <p>Coffees</p>
          </div>

          <div class="col-lg-4 col-12 text-center">
            <span data-toggle="counter-up">82</span>
            <p>Projects</p>
          </div>

          <div class="col-lg-4 col-12 text-center">
            <span data-toggle="counter-up">1,640,023</span>
            <p>Lines of Code</p>
          </div>
            <div class="col-12 text-center">
                <a href="{% url 'consultation_form' %}" class="btn-consultation">Schedule Your Free Consultation</a>
            </div>
          {% comment %} <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">64</span>
            <p>Happy Customers</p>
          </div> {% endcomment %}

        </div>

      </div>
    </section><!-- End Why Us Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="clearfix">
      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h3 class="section-title">Portfolio</h3>
        </header>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-12">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app">App</li>
              <li data-filter=".filter-ecom">E-Commerce</li> 
              <li data-filter=".filter-web">Web</li>
              <li data-filter=".filter-blog">Blog</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-4 col-md-6 portfolio-item filter-web filter-blog">
            <div class="portfolio-wrap">
              <img src="{% static 'img/portfolio/exteriordd1.png' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4 style="font-size:20px"><a href="{% url 'port_exteriordd' %}">Exterior Design & Development</a></h4>
                <p>Web, Blog</p>
                <div>
                  <a href="{% static 'img/portfolio/exteriordd1.png' %}" data-gall="portfolioGallery" title="App 1" class="venobox link-preview"><i class="ion ion-eye"></i></a>
                  <a href="{% url 'port_exteriordd' %}" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{% static 'img/portfolio/event-dispatch.png' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="{% url 'port_event_dispatch' %}">Event Dispatch</a></h4>
                <p>App</p>
                <div>
                  <a href="{% static 'img/portfolio/event-dispatch.png' %}" data-gall="portfolioGallery" title="App 1" class="venobox link-preview"><i class="ion ion-eye"></i></a>
                  <a href="{% url 'port_event_dispatch' %}" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="{% static 'img/portfolio/eventxtras1.png' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="{% url 'port_event_xtras' %}">Event Xtras</a></h4>
                <p>Web</p>
                <div>
                  <a href="{% static 'img/portfolio/eventxtras1.png' %}" class="venobox link-preview" data-gall="portfolioGallery" title="Web 3"><i class="ion ion-eye"></i></a>
                  <a href="{% url 'port_event_xtras' %}" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="{% static 'img/portfolio/ggrc.png' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="{% url 'port_ggrc' %}">GGR Cleaners</a></h4>
                <p>Web</p>
                <div>
                  <a href="{% static 'img/portfolio/ggrc.png' %}" class="venobox link-preview" data-gall="portfolioGallery" title="Web 3"><i class="ion ion-eye"></i></a>
                  <a href="{% url 'port_ggrc' %}" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{% static 'img/portfolio/lnv.png' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="{% url 'port_lovenotevideo' %}">Love Note Video</a></h4>
                <p>App</p>
                <div>
                  <a href="{% static 'img/portfolio/lnv.png' %}" class="venobox link-preview" data-gall="portfolioGallery" title="App 2"><i class="ion ion-eye"></i></a>
                  <a href="{% url 'port_lovenotevideo' %}" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{% static 'img/portfolio/mitzvahrsvp.png' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="{% url 'port_mitzvahrsvp' %}">Event RSVP</a></h4>
                <p>App</p>
                <div>
                  <a href="{% static 'img/portfolio/mitzvahrsvp.png' %}" class="venobox link-preview" data-gall="portfolioGallery" title="Web 2"><i class="ion ion-eye"></i></a>
                  <a href="{% url 'port_mitzvahrsvp' %}" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-app filter-ecom">
            <div class="portfolio-wrap">
              <img src="{% static 'img/portfolio/catertogo.png' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="{% url 'port_catertogo' %}">Cater To Go</a></h4>
                <p>App</p>
                <div>
                  <a href="{% static 'img/portfolio/catertogo.png' %}" class="venobox link-preview" data-gall="portfolioGallery" title="Web 2"><i class="ion ion-eye"></i></a>
                  <a href="{% url 'port_catertogo' %}" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </div>
              </div>
            </div>
          </div>
          {% comment %} <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/app3.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="portfolio-details.html">App 3</a></h4>
                <p>App</p>
                <div>
                  <a href="assets/img/portfolio/app3.jpg" class="venobox link-preview" data-gall="portfolioGallery" title="App 3"><i class="ion ion-eye"></i></a>
                  <a href="portfolio-details.html" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/web1.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="portfolio-details.html">Web 1</a></h4>
                <p>Web</p>
                <div>
                  <a href="assets/img/portfolio/web1.jpg" class="venobox link-preview" data-gall="portfolioGallery" title="Web 1"><i class="ion ion-eye"></i></a>
                  <a href="portfolio-details.html" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </div>
              </div>
            </div>
          </div> {% endcomment %}

        </div>

      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="section-bg">
      <div class="container" data-aso="zoom-in">

        <header class="section-header">
          <h3>Testimonials</h3>
        </header>

        <div class="row justify-content-center">
          <div class="col-lg-8">

            <div class="owl-carousel testimonials-carousel">

              <div class="testimonial-item">
                {% comment %} <img src="assets/img/testimonial-1.jpg" class="testimonial-img" alt=""> {% endcomment %}
                <h3>Chris Gulleldge</h3>
                <h4>Ceo &amp; Founder</h4>
                <p>
                  The site is perfect! So glad I went with my first decision to use Elevated Web Systems.
                </p>
              </div>

              <div class="testimonial-item">
                {% comment %} <img src="assets/img/testimonial-2.jpg" class="testimonial-img" alt=""> {% endcomment %}
                <h3>Michael Adelson</h3>
                <h4>Founder, Love Note Video</h4>
                <p>
                  I am blown away by the thought, care, and attention to detail that went into every step of the process to build out my idea! Thank you Elevated Web Systems for bringing vision to life!
                </p>
              </div>

              {% comment %} <div class="testimonial-item">
                <img src="assets/img/testimonial-3.jpg" class="testimonial-img" alt="">
                <h3>Jena Karlis</h3>
                <h4>Store Owner</h4>
                <p>
                  Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                </p>
              </div>

              <div class="testimonial-item">
                <img src="assets/img/testimonial-4.jpg" class="testimonial-img" alt="">
                <h3>Matt Brandon</h3>
                <h4>Freelancer</h4>
                <p>
                  Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                </p>
              </div>

              <div class="testimonial-item">
                <img src="assets/img/testimonial-5.jpg" class="testimonial-img" alt="">
                <h3>John Larson</h3>
                <h4>Entrepreneur</h4>
                <p>
                  Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                </p>
              </div> {% endcomment %}

            </div>

          </div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= Team Section ======= -->
    {% comment %} <section id="team">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h3>Team</h3>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6" data-aos="zoom-out" data-aos-delay="100">
            <div class="member">
              <img src="assets/img/team-1.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Walter White</h4>
                  <span>Chief Executive Officer</span>
                  <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6" data-aos="zoom-out" data-aos-delay="200">
            <div class="member">
              <img src="assets/img/team-2.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Sarah Jhonson</h4>
                  <span>Product Manager</span>
                  <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6" data-aos="zoom-out" data-aos-delay="300">
            <div class="member">
              <img src="assets/img/team-3.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>William Anderson</h4>
                  <span>CTO</span>
                  <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6" data-aos="zoom-out" data-aos-delay="400">
            <div class="member">
              <img src="assets/img/team-4.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Amanda Jepson</h4>
                  <span>Accountant</span>
                  <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section --> {% endcomment %}

    <!-- ======= Clients Section ======= -->
    {% comment %} <section id="clients" class="section-bg">

      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h3>Our CLients</h3>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque dere santome nida.</p>
        </div>

        <div class="row no-gutters clients-wrap clearfix" data-aos="zoom-in" data-aos-delay="100">

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="assets/img/clients/client-1.png" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="assets/img/clients/client-2.png" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="assets/img/clients/client-3.png" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="assets/img/clients/client-4.png" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="assets/img/clients/client-5.png" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="assets/img/clients/client-6.png" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="assets/img/clients/client-7.png" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="assets/img/clients/client-8.png" class="img-fluid" alt="">
            </div>
          </div>

        </div>

      </div>

    </section><!-- End Clients Section --> {% endcomment %}

    <!-- ======= Contact Section ======= -->
    <section id="contact">
      <div class="container-fluid" data-aos="fade-up">

        <div class="section-header">
          <h3>Contact Us</h3>
        </div>

        <div class="row">

          <div class="col-lg-6 mx-auto">
            <div class="row">
              <div class="col-md-6 info" style="align-items:right;">
                <i class="ion-ios-email-outline"></i>
                <p><a href="mailto:info@elevatedwebsystems.com" style="color:black;">info@elevatedwebsystems.com</a></p>
              </div>
              <div class="col-md-6 info">
                <i class="ion-ios-telephone-outline"></i>
                <p><a href="tel:+12673344782" style="color:black;">(267) 334-4782</a></p>
              </div>
            </div>

            <div class="form">
              <form id="contactForm" action="{% url 'contact_us' %}" method="post" role="form" class="js-contact-form php-email-form">
              {% csrf_token %}
                <div class="form-row">
                  <div class="form-group col-lg-6">
                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                    <div class="validate"></div>
                  </div>
                  <div class="form-group col-lg-6">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                    <div class="validate"></div>
                  </div>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                  <div class="validate"></div>
                </div>
                <div class="form-group">
                  <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                  <div class="validate"></div>
                </div>
                <div class="text-center"><button type="submit" title="Send Message">Send Message</button></div>
              </form>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" id="modal-contact-us-success">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Contact Us</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Your message has been sent. We will contact you soon!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{% endblock content %}