    {% load static %}
    <section id="testimonials" class="parallax" style="background-image:url('{% static 'img/testi-background-img.jpg' %}'); padding: 0px; background-position: center;">
      <div class="testi-overlay">
      <div class="container" data-aso="zoom-in" style="padding-top: 60px; padding-bottom: 60px">
        <header class="section-header">
          <h3 style="color:white;">Testimonials</h3>
        </header>

        <div class="row justify-content-center">
          <div class="col-lg-8">

            <div class="owl-carousel testimonials-carousel">

              <div class="testimonial-item">
                <img src="{% static 'img/testimonials/ernesto_di_siro.jpg' %}" class="testimonial-img" alt="headshot of Ernesto Di Siro">
                <h3>Ernest Di Siro</h3>
                <h4>Solvent Solutions</h4>
                <p>
                  Took our vision and made it a reality! Great communication and A+ service! Thank you!
                </p>
              </div>

              <div class="testimonial-item">
                <img src="{% static 'img/testimonials/jamie_iapalucci.jpg' %}" class="testimonial-img" alt="headshot of Jamie Iapalucci">
                <h3>Jamie Iapalucci</h3>
                <h4>Natural & Glamorous</h4>
                <p>
                  Elevated Web Systems recreated my website to be exactly what i wanted! It’s clean, fresh and the process was so quick and easy! I also signed up for their social media plan and had them set me up with a social media shop and I’m seeing a HUGE improvement in webpage views and sales!!  They are pretty much web & social media geniuses and I can’t appreciate having them on my marketing team more!
                </p>
              </div>

              <div class="testimonial-item">
                <img src="{% static 'img/testimonials/chris_gulledge.jpg' %}" class="testimonial-img" alt="headshot of Chris Gulledge">
                <h3>Chris Gulledge</h3>
                <h4>Ceo &amp; Founder</h4>
                <p>
                  The site is perfect! So glad I went with my first decision to use Elevated Web Systems.
                </p>
              </div>

              <div class="testimonial-item">
                <img src="{% static 'img/testimonials/michael_adelson.jpg' %}" class="testimonial-img" alt="headshot of Michael Adelson">
                <h3>Michael Adelson</h3>
                <h4>Luria Visuals</h4>
                <p>
                  I have had the pleasure of using Elevated Web Systems for 2 websites. One was outdated and is amazing. The other was a new concept and is fully functional and working perfectly! They took their time with my company and got it right each time. Well worth the investment into your own website!
                </p>
              </div>

              {% comment %} <div class="testimonial-item">
                <img src="assets/img/testimonial-3.jpg" class="testimonial-img" alt="">
                <h3>Jena Karlis</h3>
                <h4>Store Owner</h4>
                <p>
                  Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                </p>
              </div>

              <div class="testimonial-item">
                <img src="assets/img/testimonial-4.jpg" class="testimonial-img" alt="">
                <h3>Matt Brandon</h3>
                <h4>Freelancer</h4>
                <p>
                  Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                </p>
              </div>

              <div class="testimonial-item">
                <img src="assets/img/testimonial-5.jpg" class="testimonial-img" alt="">
                <h3>John Larson</h3>
                <h4>Entrepreneur</h4>
                <p>
                  Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                </p>
              </div> {% endcomment %}

            </div>

          </div>
        </div>

      </div>
      </div>
    </section>