  {% load static %}
   
    <section id="portfolio" class="clearfix">
      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h3 class="section-title">Website Design Portfolio</h3>
        </header>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-12">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app">App</li>
              <li data-filter=".filter-ecom">E-Commerce</li> 
              <li data-filter=".filter-web">Website</li>
              <li data-filter=".filter-blog">Blog</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-4 col-md-6 portfolio-item filter-web filter-blog">
            <div class="portfolio-wrap">
              <picture>
                <source srcset="{% static 'img/portfolio/infinity-caterers-main-thumb.webp' %}" type="image/webp" class="img-fluid" alt="Infinity Caterers website design screenshot">
                <img src="{% static 'img/portfolio/infinity-caterers-main-thumb.jpg' %}" class="img-fluid" alt="Infinity Caterers website design screenshot">
              </picture>
              <div class="portfolio-info">
                <h4><a href="{% url 'port_infinity_caterers' %}">Infinity Caterers</a></h4>
                <p>Website</p>
                <div>
                  <a href="{% static 'img/portfolio/infinity-caterers-main.jpg' %}" data-gall="portfolioGallery" title="Infinity Caterers Website Design" class="venobox link-preview"><i class="far fa-eye"></i></a>
                  <a href="{% url 'port_infinity_caterers' %}" class="link-details" title="More Details"><i class="fas fa-plus"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web filter-blog">
            <div class="portfolio-wrap">
              <picture>
                <source srcset="{% static 'img/portfolio/sepa-coldwar-main-thumb.webp' %}" type="image/webp" class="img-fluid" alt="SE PA cold war historical society website design screenshot">
                <img src="{% static 'img/portfolio/sepa-coldwar-main-thumb.jpg' %}" class="img-fluid" alt="SE PA cold war historical society website design screenshot">
              </picture>
              <div class="portfolio-info">
                <h4 style="font-size:18px"><a href="{% url 'port_sepacoldwar' %}">SE PA Cold War Historical Society</a></h4>
                <p>Website</p>
                <div>
                  <a href="{% static 'img/portfolio/sepa-coldwar-main.jpg' %}" data-gall="portfolioGallery" title="SE PA Cold War Historical Society Website Design" class="venobox link-preview"><i class="far fa-eye"></i></a>
                  <a href="{% url 'port_sepacoldwar' %}" class="link-details" title="More Details"><i class="fas fa-plus"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <picture>
                <source srcset="{% static 'img/portfolio/event-dispatch.webp' %}" type="image/webp" class="img-fluid" alt="event dispatch app web development screenshot">
                <img src="{% static 'img/portfolio/event-dispatch.png' %}" class="img-fluid" alt="event dispatch app web development screenshot">
              </picture>
              <div class="portfolio-info">
                <h4><a href="{% url 'port_event_dispatch' %}">Event Dispatch</a></h4>
                <p>App</p>
                <div>
                  <a href="{% static 'img/portfolio/event-dispatch.png' %}" data-gall="portfolioGallery" title="Event Dispatch Web Application" class="venobox link-preview"><i class="far fa-eye"></i></a>
                  <a href="{% url 'port_event_dispatch' %}" class="link-details" title="More Details"><i class="fas fa-plus"></i></a>
                </div>
              </div>
            </div>
          </div>


          <div class="col-lg-4 col-md-6 portfolio-item filter-web filter-blog">
            <div class="portfolio-wrap">
              <img src="{% static 'img/portfolio/exteriordd-thumb.png' %}" class="img-fluid" alt="exterior design and development website design screenshot">
              <div class="portfolio-info">
                <h4 style="font-size:20px"><a href="{% url 'port_exteriordd' %}">Exterior Design & Development</a></h4>
                <p>Website, Blog</p>
                <div>
                  <a href="{% static 'img/portfolio/exteriordd1.png' %}" data-gall="portfolioGallery" title="Exterior Design and Development Website Development" class="venobox link-preview"><i class="far fa-eye"></i></a>
                  <a href="{% url 'port_exteriordd' %}" class="link-details" title="More Details"><i class="fas fa-plus"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="{% static 'img/portfolio/ggrc.webp' %}" class="img-fluid" alt="ggr cleaners website design screenshot">
              <div class="portfolio-info">
                <h4><a href="{% url 'port_ggrc' %}">GGR Cleaners</a></h4>
                <p>Website</p>
                <div>
                  <a href="{% static 'img/portfolio/ggrc.png' %}" class="venobox link-preview" data-gall="portfolioGallery" title="Global Garment and Restoration Cleaners Website Design"><i class="far fa-eye"></i></a>
                  <a href="{% url 'port_ggrc' %}" class="link-details" title="More Details"><i class="fas fa-plus"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-app filter-ecom">
            <div class="portfolio-wrap">
              <img src="{% static 'img/portfolio/catertogo.webp' %}" class="img-fluid" alt="cater to go e-commerce website development screenshot">
              <div class="portfolio-info">
                <h4><a href="{% url 'port_catertogo' %}">Cater To Go</a></h4>
                <p>App</p>
                <div>
                  <a href="{% static 'img/portfolio/catertogo.png' %}" class="venobox link-preview" data-gall="portfolioGallery" title="Cater To Go E-Commerce Website Development"><i class="far fa-eye"></i></a>
                  <a href="{% url 'port_catertogo' %}" class="link-details" title="More Details"><i class="fas fa-plus"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{% static 'img/portfolio/mitzvahrsvp-thumb.jpg' %}" class="img-fluid" alt="event RSVP web application screenshot">
              <div class="portfolio-info">
                <h4><a href="{% url 'port_mitzvahrsvp' %}">Event RSVP</a></h4>
                <p>App</p>
                <div>
                  <a href="{% static 'img/portfolio/mitzvahrsvp.png' %}" class="venobox link-preview" data-gall="portfolioGallery" title="Event RSVP Web Application"><i class="far fa-eye"></i></a>
                  <a href="{% url 'port_mitzvahrsvp' %}" class="link-details" title="More Details"><i class="fas fa-plus"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-web filter-blog">
            <div class="portfolio-wrap">
              <img src="{% static 'img/portfolio/tasty-table-main-thumb.jpg' %}" class="img-fluid" alt="tasty table market website design screenshot">
              <div class="portfolio-info">
                <h4><a href="{% url 'port_tasty_table' %}">Tasty Table Market</a></h4>
                <p>Website</p>
                <div>
                  <a href="{% static 'img/portfolio/tasty-table-main.jpg' %}" data-gall="portfolioGallery" title="Tasty Table Market Website Development" class="venobox link-preview"><i class="far fa-eye"></i></a>
                  <a href="{% url 'port_tasty_table' %}" class="link-details" title="More Details"><i class="fas fa-plus"></i></a>
                </div>
              </div>
            </div>
          </div>



          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <picture>
                <source srcset="{% static 'img/portfolio/eventxtras-thumb.webp' %}" type="image/webp" class="img-fluid" alt="event xtras website design screenshot">
                <img src="{% static 'img/portfolio/eventxtras-thumb.jpg' %}" class="img-fluid" alt="event xtras website design screenshot">
              </picture>
              <div class="portfolio-info">
                <h4><a href="{% url 'port_event_xtras' %}">Event Xtras</a></h4>
                <p>Website</p>
                <div>
                  <a href="{% static 'img/portfolio/eventxtras1.png' %}" class="venobox link-preview" data-gall="portfolioGallery" title="Event Xtras Website Design"><i class="far fa-eye"></i></a>
                  <a href="{% url 'port_event_xtras' %}" class="link-details" title="More Details"><i class="fas fa-plus"></i></a>
                </div>
              </div>
            </div>
          </div>



          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{% static 'img/portfolio/lnv.webp' %}" class="img-fluid" alt="love note video interactive video web application screenshot">
              <div class="portfolio-info">
                <h4><a href="{% url 'port_lovenotevideo' %}">Love Note Video</a></h4>
                <p>App</p>
                <div>
                  <a href="{% static 'img/portfolio/lnv.png' %}" class="venobox link-preview" data-gall="portfolioGallery" title="Love Note Video Website Design"><i class="far fa-eye"></i></a>
                  <a href="{% url 'port_lovenotevideo' %}" class="link-details" title="More Details"><i class="fas fa-plus"></i></a>
                </div>
              </div>
            </div>
          </div>




        </div>

      </div>
    </section>