    {% load static %}
    <section id="testimonials" class="parallax" style="background-image:url('{% static 'img/testi-background-img.jpg' %}'); padding: 0px; background-position: center;">
      <div class="testi-overlay">
      <div class="container" data-aso="zoom-in" style="padding-top: 60px; padding-bottom: 60px">
        <header class="section-header">
          <h3 style="color:white;">Testimonials</h3>
        </header>

        <div class="row justify-content-center">
          <div class="col-lg-8">

            <div class="owl-carousel testimonials-carousel">

              <div class="testimonial-item">
                {% comment %} <img src="assets/img/testimonial-1.jpg" class="testimonial-img" alt=""> {% endcomment %}
                <h3>Jamie Iapalucci</h3>
                <h4>Natural & Glamorous</h4>
                <p>
                  Thank you so much for making my visions come to reality! I had a very specific idea of what I wanted my Vlog and Web Store to look like and you nailed it! Couldn't be happier
                  to be done with Wix & Wordpress and working with Elevated Web Systems!
                </p>
              </div>

              <div class="testimonial-item">
                {% comment %} <img src="assets/img/testimonial-1.jpg" class="testimonial-img" alt=""> {% endcomment %}
                <h3>Chris Gulleldge</h3>
                <h4>Ceo &amp; Founder</h4>
                <p>
                  The site is perfect! So glad I went with my first decision to use Elevated Web Systems.
                </p>
              </div>

              <div class="testimonial-item">
                {% comment %} <img src="assets/img/testimonial-2.jpg" class="testimonial-img" alt=""> {% endcomment %}
                <h3>Michael Adelson</h3>
                <h4>Founder, Love Note Video</h4>
                <p>
                  I am blown away by the thought, care, and attention to detail that went into every step of the process to build out my idea! Thank you Elevated Web Systems for bringing vision to life!
                </p>
              </div>

              {% comment %} <div class="testimonial-item">
                <img src="assets/img/testimonial-3.jpg" class="testimonial-img" alt="">
                <h3>Jena Karlis</h3>
                <h4>Store Owner</h4>
                <p>
                  Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                </p>
              </div>

              <div class="testimonial-item">
                <img src="assets/img/testimonial-4.jpg" class="testimonial-img" alt="">
                <h3>Matt Brandon</h3>
                <h4>Freelancer</h4>
                <p>
                  Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                </p>
              </div>

              <div class="testimonial-item">
                <img src="assets/img/testimonial-5.jpg" class="testimonial-img" alt="">
                <h3>John Larson</h3>
                <h4>Entrepreneur</h4>
                <p>
                  Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                </p>
              </div> {% endcomment %}

            </div>

          </div>
        </div>

      </div>
      </div>
    </section>