{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NWPBZKB');</script>
<!-- End Google Tag Manager -->
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>{% block title_tag %}{% endblock title_tag %}</title>
  {% block meta_tags %}
  {% endblock meta_tags %}
  <!-- Favicons -->
  <link href="{% static 'img/favicon.png' %}" rel="icon">
  <link href="{% static 'img/favicon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/c47990e7cb.js" async defer crossorigin="anonymous"></script>  


  <link href="{% static 'vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet" media="none" onload="if(media!='all')media='all'">
  <noscript><link rel="stylesheet" href="{% static 'vendor/owl.carousel/assets/owl.carousel.min.css' %}"></noscript>

  <link rel="stylesheet" href="{% static 'vendor/venobox/venobox.css' %}" media="none" onload="if(media!='all')media='all'">
  <noscript><link rel="stylesheet" href="{% static 'vendor/venobox/venobox.css' %}"></noscript>
  
  <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet" media="screen and (min-width:500px)">
 
  <!-- Template Main CSS File -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
  
  {% block headscript %}
  {% endblock headscript %}

</head>

<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NWPBZKB"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container">
    <div class="row">
        <div class="col-12">
            <div class="logo float-left">
                <!-- Uncomment below if you prefer to use an text logo -->
                <!-- <h1><a href="index.html">NewBiz</a></h1> -->
                <a href="{% url 'home' %}"><img src="{% static 'img/logo-navy-sm.png' %}" alt="" class="img-fluid"></a>
            </div>

            <nav class="main-nav float-right d-none d-lg-block">
                <ul>
                <li {% if request.resolver_match.view_name == 'home' %}class="active"{% endif %}><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'home' %}#about">About Us</a></li>
                <li><a href="{% url 'home' %}#services">Services</a></li>
                <li><a href="{% url 'home' %}#portfolio">Portfolio</a></li>
                <li {% if '/blog' in request.path %}class="active"{% endif %}><a href="{% url 'blog:blog_list' %}">Blog</a></li>
                <li><a href="{% url 'home' %}#contact">Contact Us</a></li>
                <li {% if request.resolver_match.view_name == 'website_audit' %}class="active"{% endif %}><a href="{% url 'website_audit' %}" class="btn nav-button">Free Website Audit</a></li>
                {% comment %} <li class="nav-client-login"><a href="{% url 'login'%}">Client Login</a></li> {% endcomment %}
                </ul>
      </nav><!-- .main-nav -->
      </div>
      </div>
    {% if messages %}
        <div class="row">
            <div class="col-12">
            {% for message in messages %}
                <div class="alert alert-{{message.tags}} alert-dismissible fade show mt-2" role="alert" data-aos="fade-up">
                <h5 class="text-alert">{{ message }}</h5>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span class="text-alert" aria-hidden="true">&times;</span>
                </button>
                </div>
            </div>
            {% endfor %}
        </div>
    {% endif %}


    </div>
  </header><!-- #header -->

{% block content %}
{% endblock content %}


<div class="modal fade" id="modal-base">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
    </div>
  </div>
</div>
  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6 footer-info">
            <img src="{% static 'img/logo-white-small.png' %}" alt="" class="img-fluid" style="margin-bottom:10px;">
            <p>Creating elevated web based solutions for small and medium sized businesses with advanced features and attention to detail.</p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">

            <h4>Useful Links</h4>
            <ul>
              <li><a href="{% url 'home' %}">Home</a></li>
              <li><a href="{% url 'home' %}#about">About us</a></li>
              <li><a href="{% url 'home' %}#services">Services</a></li>
              <li><a href="{% url 'blog:blog_list' %}">Blog</a></li>
              <li><a href="{% url 'consultation_form' %}">Free Consultation</a></li>
              {% comment %} <li><a href="{% url 'home' %}">Terms of service</a></li>
              <li><a href="#">Privacy policy</a></li> {% endcomment %}
            </ul>
           
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>
              <strong>Location:</strong> Perkasie, PA 18944<br>
              {% comment %} A108 Adam Street <br>
              
              United States <br> {% endcomment %}
              <strong>Phone:</strong> <a href="tel:+12672173155" style="color:white;">(267) 217-3155</a><br>
              <strong>Email:</strong> <a href="mailto:info@elevatedwebsystems.com" style="color:white;">info@elevatedwebsystems.com</a><br>
              <div class="social-links">
                <a href="https://www.facebook.com/elevatedwebsystems" class="facebook"><i class="fab fa-facebook"></i></a>
                <a href="https://www.instagram.com/elevatedwebsystems/" class="instagram"><i class="fab fa-instagram"></i></a>
                <a href="https://g.page/elevated-web-systems?we" class="google-plus"><i class="fab fa-google-plus"></i></a>
                <a href="https://www.linkedin.com/company/elevated-web-systems/" class="linkedin"><i class="fab fa-linkedin"></i></a>
              </div>
            </p>

            {% comment %} <div class="social-links">
              <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
              <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
              <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
              <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
              <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
            </div> {% endcomment %}

          </div>

          <div class="col-lg-3 col-md-6 footer-newsletter text-center ">
            <div class="row">
            <!-- Agency Vista Install Badge Code -->
              <div class="col-6">
                <a href="https://agencyvista.com/agency/elevated-web-systems/marketing-agency" id="agencyvista-sendible-agency-partner"> 
                <img style="max-width:90%" src='https://d1tnf634hiqesb.cloudfront.net/badge/sendible-agency-partner-badge.png?v=1602420122196' alt='Agency Vista Sendible Agency Partner'/> </a>
              </div>
              <div class="col-6">
                <a href="https://agencyvista.com/agency/elevated-web-systems/marketing-agency" id="agencyvista-badge">
                  <img style="max-width:90%" src='https://agencyvista.com/verified-agency-vista-badge.png' alt='Agency Vista Verified Badge'/>
                </a>
              </div>
            <!-- End Agency Vista Install Badge Code -->
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>Elevated Web Systems</strong>. All Rights Reserved
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js" integrity="sha512-0QbL0ph8Tc8g5bLhfVzSqxe9GERORsKhIn1IrpxDAgUsbBGz/V7iSav2zzW325XGd1OMLdL4UiqRJj702IeqnQ==" crossorigin="anonymous"></script>
  <script src="{% static 'vendor/counterup/counterup.min.js' %}"></script>
  <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'vendor/owl.carousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'vendor/waypoints/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'vendor/venobox/venobox.min.js' %}"></script>
  <script src="{% static 'vendor/aos/aos.js' %}"></script>
  

  <!-- Template Main JS File -->
  <script src="{% static 'js/main.js' %}"></script>
  {% block footscript %}
  {% endblock footscript %}
  {% block blog_footscript %}{% endblock blog_footscript %}
<!-- Start of HubSpot Embed Code -->
<script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/8328055.js"></script>
<!-- End of HubSpot Embed Code -->

</body>

</html>