{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block title_tag %}Login {% endblock title_tag %}
{% block content %}
  <main id="main">

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2></h2>
          <ol>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li>Login</li>
          </ol>
        </div>

      </div>
    </section><!-- Breadcrumbs Section -->

    <section class="portfolio-details">
      <div class="container">   
        <div class="col-lg-8 mx-auto">
            <div class="form-page">
                <div class="text-center">
                    <h1>Client Login</h1>
                </div>
                <form method="POST" class="mb-4">
                    {% bootstrap_form_errors form %}
                    {% bootstrap_form form %}
                    {% csrf_token %}
                    <div class="text-center">
                        {% bootstrap_button "Login" button_type="submit" %}
                        <p class="forgot-password">Forgot your password?<a href="#"> Click Here</a></p>
                    </div>
                </form>
            </div>
        </div>
      </div>
    </section>

  </main><!-- End #main -->

{% endblock content %}